/**
 * CSS Modules
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-background-surface-color);
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.section {
  padding: 4rem 0;
}

.sectionAlt {
  padding: 4rem 0;
  background-color: var(--ifm-background-surface-color);
  border-top: 1px solid var(--ifm-color-emphasis-200);
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}
